{<<"app">>,<<"oban_pro">>}.
{<<"build_tools">>,[<<"mix">>]}.
{<<"description">>,<<"Oban Pro Component">>}.
{<<"elixir">>,<<"~> 1.12">>}.
{<<"files">>,
 [<<"lib/pro.ex">>,<<"lib/oban">>,<<"lib/oban/pro">>,
  <<"lib/oban/pro/cron.ex">>,<<"lib/oban/pro/migrations">>,
  <<"lib/oban/pro/migrations/producers.ex">>,
  <<"lib/oban/pro/migrations/dynamic_queues.ex">>,
  <<"lib/oban/pro/migrations/dynamic_cron.ex">>,
  <<"lib/oban/pro/producer.ex">>,<<"lib/oban/pro/worker.ex">>,
  <<"lib/oban/pro/stages">>,<<"lib/oban/pro/stages/standard.ex">>,
  <<"lib/oban/pro/stages/encrypted.ex">>,
  <<"lib/oban/pro/stages/recorded.ex">>,<<"lib/oban/pro/stages/hooks.ex">>,
  <<"lib/oban/pro/stages/structured.ex">>,<<"lib/oban/pro/plugins">>,
  <<"lib/oban/pro/plugins/dynamic_prioritizer.ex">>,
  <<"lib/oban/pro/plugins/dynamic_pruner.ex">>,
  <<"lib/oban/pro/plugins/dynamic_scaler.ex">>,
  <<"lib/oban/pro/plugins/dynamic_lifeline.ex">>,
  <<"lib/oban/pro/plugins/dynamic_queues.ex">>,
  <<"lib/oban/pro/plugins/dynamic_cron.ex">>,<<"lib/oban/pro/limiters">>,
  <<"lib/oban/pro/limiters/rate.ex">>,<<"lib/oban/pro/limiters/global.ex">>,
  <<"lib/oban/pro/queue.ex">>,<<"lib/oban/pro/cloud.ex">>,
  <<"lib/oban/pro/stage.ex">>,<<"lib/oban/pro/testing.ex">>,
  <<"lib/oban/pro/batcher.ex">>,<<"lib/oban/pro/engines">>,
  <<"lib/oban/pro/engines/smart.ex">>,<<"lib/oban/pro/workers">>,
  <<"lib/oban/pro/workers/batch.ex">>,<<"lib/oban/pro/workers/chunk.ex">>,
  <<"lib/oban/pro/workers/workflow.ex">>,<<"lib/oban/pro/application.ex">>,
  <<"lib/oban/pro/utils.ex">>,<<"lib/oban/pro/relay.ex">>,
  <<".formatter.exs">>,<<"mix.exs">>]}.
{<<"licenses">>,[<<"Commercial">>]}.
{<<"links">>,[]}.
{<<"name">>,<<"oban_pro">>}.
{<<"requirements">>,
 [[{<<"app">>,<<"oban">>},
   {<<"name">>,<<"oban">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 2.15.0">>}],
  [{<<"app">>,<<"ecto_sql">>},
   {<<"name">>,<<"ecto_sql">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 3.8">>}],
  [{<<"app">>,<<"libgraph">>},
   {<<"name">>,<<"libgraph">>},
   {<<"optional">>,true},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 0.13">>}],
  [{<<"app">>,<<"postgrex">>},
   {<<"name">>,<<"postgrex">>},
   {<<"optional">>,true},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 0.16">>}]]}.
{<<"version">>,<<"1.0.0">>}.
